@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

b{
	font-weight: normal;
	font-variant: small-caps;
}

.inscription p{
	text-indent: 0;
	font-variant: small-caps;
	text-align: center;
}

table.program{
	max-width: 50%;
	margin: 1em auto;
}

table.program th{
	font-weight: normal;
	font-variant: small-caps;
	text-align: left;
}

table.program th:last-child{
	text-align: right;
}

table.program p{
	text-indent: 0;
	margin-bottom: 1em;
}

table.program + p{
	text-indent: 0;
}


*[epub|type~="z3998:song"] p,
*[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

*[epub|type~="z3998:song"] p span,
*[epub|type~="z3998:poem"] p span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

*[epub|type~="z3998:song"] br,
*[epub|type~="z3998:poem"] br{
	display: none;
}

*[epub|type~="z3998:song"] p + p,
*[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

*[epub|type~="z3998:song"] + p,
*[epub|type~="z3998:poem"] + p{
	text-indent: 0;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}
